@using Budgeter.Models
@model Budgeter.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@{
    Layout = "~/Views/Shared/_anonLayout.cshtml";
}


<body class="money">


    <!-- ============================================================================================================================== -->
    <br />

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default treelogin">

                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="panel-heading text-center">
                            <a href="#"> <img src="~/Assets/images/logo-tree.png" alt="Logo" class="m-t-3 m-b-0 h-20"></a>
                        </div>
                        <div class="panel-body">
                            <h3 class="text-center text-primary" style="margin-top: 0px;">
                                <strong> Welcome to Money Tree! </strong>
                                <br />
                                <small class="text-primary">Hurry before all the leaves are gone!</small>
                            </h3>
                            <h2 class="text-center f-w-300 m-b-1" style="margin-top: 0px;">Register</h2>

                            <div class="form-group"> 
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Please enter your First Name..." })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Please enter your Last Name..." })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", placeholder = "Please enter a Username..." })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Please enter your Email..." })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Please enter a Password..." })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Please confirm your Password..." })
                                </div>
                            </div> 

                                @*<div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Accept Terms &amp; Privacy Policy
                                    </label>
                                </div>*@

                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    <input type="submit" class="btn btn-block m-b-2 btn-primary" value="Register" />
                                </div>
                            </div>
                            
                        </div>

                        <div class="panel-footer custbg">
                           

                            @Html.ActionLink("Log In", "Login", null, new { @class = "btn btn-success" })

                            @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { @class = "btn btn-warning pull-right" }) 



                            <hr />
                            <p class="text-gray-light text-center">
                                <small>
                                    <strong class="text-primary">Money Tree</strong>
                                    <span class="text-primary"> &copy; @DateTime.Now.Year - Made with <i class="fa fa-fw fa-heart text-danger"></i> by Jacob S Crawford </span>
                                </small>
                            </p>
                        </div>
                    }

                </div>
                
            </div>
        </div>
    </div>
    <!-- ============================================================================================================================== -->

</body>

